#main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  #main-container {
    flex-direction: column;
  }
  .view-container {
    flex: 0 0 auto;
    width: 100%;
  }
}
